annotated-types==0.7.0 ; python_full_version == "3.10.6"
click==8.1.7 ; python_full_version == "3.10.6"
colorama==0.4.6 ; python_full_version == "3.10.6" and platform_system == "Windows"
psycopg2-binary==2.9.9 ; python_full_version == "3.10.6"
pydantic-core==2.20.1 ; python_full_version == "3.10.6"
pydantic==2.8.2 ; python_full_version == "3.10.6"
types-psycopg2==2.9.21.20240417 ; python_full_version == "3.10.6"
typing-extensions==4.12.2 ; python_full_version == "3.10.6"
